
/* Style for the form container */
form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  h1{
    text-align: center;
    color:blue;
  }
  
  /* Style for the form fields */
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;

  }
  
  /* Style for the buttons */
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  
  /* Style for error messages */
  mat-error {
    color: red;
    font-size: 12px;
  }
  